{% extends 'base.html.twig' %}

{% block container %}
    <h3>学生信息一览</h3>
    <div class="right-div">
        <a href="{{ path('admin_subject') }}" class="btn">课程一览</a>
    </div>
    <table class="table table-striped">
        <tr>
            <th class="text-center h4">姓名</th>
            <th class="text-center h4">邮箱</th>
            <th class="text-center h4">操作</th>
        </tr>
    {% for student in students %}
            <tr>
                <td>
                    {{ student.username }}
                </td>
                <td>
                    {{ student.email }}
                </td>
                <td>
                    <a href="{{ path('delete_student',{'studid':student.username}) }}" onclick="if(confirm('删除不可恢复,仍要删除?')==false) return false">DELETE</a>
                </td>
            </tr>
    {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(students) }}
    </div>
{% endblock %}
